<style>
p {
  margin-bottom: 30px;
}

</style>

<footer class="#424242 grey darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <img src="images/bitmap.png" style="height: 55px; width: 130px; margin-top: 50px;"/>
          <p class="grey-text text-lighten-4">Kita akan memberikan sesuai kebutuhan anda, tidak kurang dan tidak lebih</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text" style="margin-top: 25%;">kontak</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Rifky</a></li>            
            <li><a class="grey-text text-lighten-3" href="#!">+6289628661621</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright" style="background-color: #616161;">
      <div class="container" style="padding-bottom: 10px; padding-top: 10px;">
        Copyright © 2019 webprom
      </div>
    </div>
  </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
 </body>
</html>
