<%- include('../partials/header.ejs') %>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h3 class="header center white-text">Kami memberikan software yang Anda Butuhkan</h3>
        <div class="row center">
          <h5 class="header col s12 light">Tidak lebih, tidak kurang</h5>
        </div>
        <div class="row center">
          <a href="/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1 pulse">Get Started</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1517148815978-75f6acaaf32c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Unsplashed background img 1"></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
          <div class="col s6">
            <h4>Siap mengembangkan Full-stack </h4>
            <p>Untuk pengembangan web secara penuh front end dan backend, kami menggunakan Node JS Express, React JS, Vue Js dan permintaan Anda dapat didiskusikan.</p>
          </div>
          <div class="col s6">
            <div class="full-stack-img">
            <img src="https://codefirst2017.azureedge.net//Content/Images/technologies.png" class="img-responsive" alt="Technologies" width="480" height="318" />
          </div>
      </div>
    </div>
      <!-- xxx -->
    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1558959356-878a1a39e824?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80" alt="Unsplashed background img 2"></div>
  </div>
  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h4 class="header col s12 light">A modern responsive front-end framework based on Material Design</h4>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="https://images.unsplash.com/photo-1507721999472-8ed4421c4af2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Unsplashed background img 3"></div>
  </div>
<%- include('../partials/footer.ejs') %>